
.mb-15 {
 margin-bottom: 15px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-70 {
	margin-bottom: 70px;
}
@media (max-width: 768px) {
	.mb-40 {
		margin-bottom: 20px;
	}
	.mb-50 {
		margin-bottom: 25px;
	}
}
.row-reverse {
 flex-direction: row-reverse;
}
.bold {
 font-weight: bold;
}


.detail-row {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 0;
	background-color: white;
	box-sizing: border-box;
	transition: width .5s,padding .5s;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
}
.detail-row::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 95%;
	height: 90%;
	transform: translate(-50%,-50%);
	/* border: 3px solid #000; */
}
@media (max-width: 768px) {
.detail-row {
		flex-direction: column-reverse;
}
}
#one:target .detail-row,#two:target .detail-row,#three:target .detail-row,#four:target .detail-row {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 80px 40px;
	z-index: 10;
	cursor: initial;
}
.website-link {
	border-bottom: 1px solid #000;
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}
@media (max-width: 768px) {
	.website-link {
		display: none;
	}
}
.website-link span {
	color: #000;
	display: inline-block;
	padding: 10px 15px;
}
.website-link span:hover {
	background-color: black;
	color: white;
}
#one:target .website-link,#two:target .website-link,#three:target .website-link,#four:target .website-link {
	opacity: 1;
	visibility: visible;
	transform: translateX(0%);
	transition: 1s 5s
}
.detail-col-1-2 {
	max-width: 640px;
	width: 100%;
	height: 70vh;
 margin: 0px 20px;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	position: relative;
}
.detail-col-1-2:nth-child(2) {
	opacity: 1;
	visibility: visible;
}
.picture-filter {
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	transition: .5s
}
.picture-filter-2 {
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.3);
	right: 0;
	transition: .5s
}
.picture-link {
	color: #000;
	opacity: 0;
	visibility: hidden;
	background-color: #fff;
	padding: 10px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 12px;
	cursor: pointer;
}
@media (max-width: 1024px) {
	.detail-col-1-2 {
		height: 60vh;
	}
}
@media (max-width: 768px) {
	.detail-col-1-2 {
		margin: 20px 0px;
	}
	.detail-col-1-2:nth-child(2) {
		height: 25vh;
	}
	.detail-col-1-2:nth-child(1):hover > .picture-filter,.detail-col-1-2:nth-child(1):hover > .picture-filter-2 {
		width: 100%;
	}
	.detail-col-1-2:nth-child(1):hover > .picture-link {
		opacity: 1;
		visibility: visible;
		transition: opacity .5s .5s,visibility .5s .5s
	}
}
#one:target .detail-col-1-2:nth-child(1),#two:target .detail-col-1-2:nth-child(1),#three:target .detail-col-1-2:nth-child(1),#four:target .detail-col-1-2:nth-child(1) {
	opacity: 1;
	visibility: visible;
	transition: opacity 1.5s 1s,visibility 1.5s 1s;
}
.bg-img {
 background-position: center center;
 background-size: cover;
}
.title {
	font-size: 28px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
}
#one:target .title,#two:target .title,#three:target .title,#four:target .title {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition: 1s 2s
}
.date {
	color: gray;
	font-weight: bold;
	letter-spacing: 3px;
	opacity: 0;
	visibility: hidden;
}
#one:target .date,#two:target .date,#three:target .date,#four:target .date {
	opacity: 1;
	visibility: visible;
	transition: 1s 3s
}
.content {
 line-height: 1.7;
	letter-spacing: 2px;
	opacity: 0;
	font-size: 1vw;
	visibility: hidden;
	transform: translateY(100%);
}
@media (max-width: 768px) {
	.content {
		display: none;
	}
}
#one:target .content,#two:target .content,#three:target .content,#four:target .content {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition: 1s 4s
}
.tag {
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
}
#one:target .tag,#two:target .tag,#three:target .tag,#four:target .tag {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition: 1s 3s
}
.tag-content span{
	display: inline-block;
 background-color: black;
 color: white;
 padding: 2px 5px;
 margin: 5px 8px 0px 0px;
	font-size: 12px;
}
.tag-content {
	opacity: 0;
	transform: translateY(100%);
	visibility: hidden;
}
#one:target .tag-content,#two:target .tag-content,#three:target .tag-content,#four:target .tag-content {
	opacity: 1;
	transform: translateY(0%);
	visibility: visible;
	transition: 0.5s 4s;
}
.tag-content span:hover {
 background-color: gray;
}
.cancel {
	position: fixed;
	right: 8%;
	top: 20%;
	padding: 10px;
	opacity: 0;
	visibility: hidden;
	color: rgba(0,0,0,0.6);
	cursor: pointer;
}
.cancel .fa-long-arrow-alt-right {
	font-size: 24px;
	transition: .5s
}
.cancel .fa-long-arrow-alt-right:hover {
	transform: translateX(16px);
	color: black;
}
#one:target .cancel,#two:target .cancel,#three:target .cancel,#four:target .cancel {
	opacity: 1;
	visibility: visible;
	transition: 1s 5.5s;
}
/* .btn-1 {
	right: 10%;
}
.btn-2 {
	right: 20%;
}
.btn-3 {
	right: 30%;
} */
.detail-back {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
#one:target .detail-back,#two:target .detail-back,#three:target .detail-back,#four:target .detail-back {
	opacity: 1;
	visibility: visible;
	transition: 1s 6s
}
.slideNavi_arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	cursor: pointer;
	padding: 10px 0px;
	overflow: hidden;
}
.slideNavi_arrow:hover > span > svg {
	transform: scale(1);
}
.slideNavi_arrow:hover > .back-txt {
	left: 0%;
}
.slideNavi_arrow .back-txt {
	position: absolute;
	left: -100%;
	bottom: 3px;
	font-size: 12px;
	transition: .5s;
}
.slideNavi_arrow > span {
	position: absolute;
	bottom: 3px;
	left: 0;
	display: block;
	width: 100%;
}
.slideNavi_arrow > span > svg {
	width: 100%;
	display: block;
	transform: scaleX(0.5);
	transform-origin: 0px 0px;
	transition: .5s;
}